@font-face {
  font-family: 'GmarketSansMedium';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* color */
/* background-color */
/* font */
/* font-size */
/* font-weight */
/* border-radius */
/* box-shadow */
/* responsive  */
/*  */
#container {
  width: 40vw;
  margin: 0 auto;
}

/* input */
.zuzu__input, .zuzu__input__lock {
  width: 80%;
  height: 50px;
  margin-left: 10%;
  color: #585858;
  background-color: #FFFFFF;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  text-indent: 1rem;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.zuzu__input__lock {
  pointer-events: none;
  background-color: #EAEDF5;
}

.zuzu__input:focus, .zuzu__input__lock:focus {
  background-color: #FFFFFF;
  border: 2px solid #4C9EFF;
  border-radius: 0.3rem;
}

/* btn */
.zuzu__btn, .zuzu__btn__disabled {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40%;
  height: 50px;
  margin-left: 30%;
  color: #FFFFFF;
  border-radius: 0.25rem;
  background-color: #007BEE;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  cursor: pointer;
}

.zuzu__btn__disabled {
  background-color: #57A7EE;
  pointer-events: none;
}

.zuzu__checkbox, .zuzu__checkbox__checked {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 10px;
  width: 15px;
  height: 15px;
  color: #FFFFFF;
  border: 1px solid lightgray;
  border-radius: 0.25rem;
  cursor: pointer;
}

.zuzu__checkbox__checked {
  background-color: #007BEE;
  border-color: #007BEE;
}

.zuzu__btn:hover, .zuzu__btn__disabled:hover {
  background-color: #0069D9;
}

/* switch */
.zuzu__switch, .zuzu__switch__on {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70px;
  height: 35px;
  background-color: #B3C4FF;
  border-radius: 3rem;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  cursor: pointer;
}

.zuzu__switch__on {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background-color: #007BEE;
}

.zuzu__switch__power {
  width: 25px;
  height: 25px;
  border-radius: 3rem;
  margin: 0 6px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

/* radio */
.zuzu__radio, .zuzu__radio__checked {
  width: 20px;
  height: 20px;
  border: 3px solid lightgray;
  border-radius: 3rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
}

.zuzu__radio__checked {
  border: 5px solid #007BEE;
}

/* selectbox */
.zuzu__selectbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40%;
  height: 50px;
  margin-left: 30%;
  color: #585858;
  background-color: #FFFFFF;
  border: 3px solid darkgray;
  border-radius: 0.5rem;
  text-indent: 1rem;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  padding-right: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.zuzu__selectbox__arrow {
  margin: 0 0 0 auto;
}

@media (max-width: 757px) {
  #container {
    width: 80vw;
  }
  .zuzu__btn, .zuzu__btn__disabled {
    width: 60%;
    margin-left: 20%;
  }
}
